.user-list {
    color:rgb(10, 77, 10);
    background-image: url("https://images.unsplash.com/photo-1612258707587-d568bdc32061?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80");
    display: flex;
    display: inline-flex;
    flex-grow: 100;
    flex-direction: column;
  }